/* 모든 엘리먼트 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 헤더 스타일 */
header {
    background-color: #8ED1FC;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.menu_container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.menu_bar {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.menu_bar li {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu_bar li:hover {
    color: black;
}

.menu_bar a {
    text-decoration: none;
    color: inherit;
}

/* 유저 정보 스타일 */
.user-info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-nickname {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.mypage-btn, .logout-btn, .login-btn {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mypage-btn:hover, .logout-btn:hover, .login-btn:hover {
    background-color: #333;
}