<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 빨간 밑줄 : eclipse 버그 있음  -->
<configuration>
	<!-- 개발 환경 설정, 기본값으로 'development' 환경을 사용 -->
	<environments default="development">
		<!-- 개발 환경 ID 'development' 지정 -->
		<environment id="development">
			<!-- 트랜잭션 관리 방식 설정, JDBC를 직접 사용 -->
			<transactionManager type="JDBC" />
			<!-- 데이터 소스 설정, POOL 방식을 사용하여 커넥션을 관리 -->
			<dataSource type="POOLED">
				<!-- 오라클 JDBC 드라이버 지정 -->
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<!-- 데이터베이스 연결 URL 지정 -->
				<property name="url"
					value="jdbc:oracle:thin:@127.0.0.1:1521/xe" />
				<!-- 데이터베이스 사용자 이름 지정 -->
				<property name="username" value="C##SCOTT" />
				<!-- 데이터베이스 비밀번호 지정 -->
				<property name="password" value="TIGER" />
			</dataSource>
		</environment>
	</environments>
	<!-- 매퍼 파일들을 설정, SQL 매핑 파일 경로를 지정 -->
	<mappers>
		<!-- 'member-mapper.xml' 매퍼 파일 등록 -->
		<mapper resource="config/member-mapper.xml" />
		<!-- 'major-mapper.xml' 매퍼 파일 등록 -->
		<mapper resource="config/major-mapper.xml" />
	</mappers>
</configuration>
